.outro-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%
}

.outro-first {
    max-width: 50%;
    min-width: 375px;
}
.outro-first img {
    width: 50%;
}

.outro-second {
    max-width: 50%;
    min-width: 375px;
}
.outro-second img {
    width: 50%;
}