.body-container {
    width: 100%;
    min-width: 477px;
}

/* Transform your brand - Egg picture row */
.body-egg {
    display: flex;
    flex-flow: row-reverse wrap;
    width: 100%;
    max-height: 100%;
    justify-content: center;
}
.body-egg-image {
    width: 50%;
    min-width: 477px;
}
.body-egg-image img {
    width: 100%;
    height: 100%;
}
.body-egg-text {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    margin: auto;
    width: 50%;
    min-width: 477px;
    height: 100%;
    min-height: 477px;
    font-size: 18px;
    text-align: center;
}
.body-egg-text a:hover {
    text-decoration: underline yellow 10px;
    cursor: pointer;
}
.body-egg-text h1 {
    margin: 0 auto;
    font-family: 'Fraunces', serif;
    max-width: 80%;
}
.body-egg-text h3 {
    font-family: 'Fraunces', serif;
}
.body-egg-text p {
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'Barlow', serif;
    max-width: 90%;
}

/* Stand out - Cup picture row */
.body-cup {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-height: 100%;
    justify-content: center;
}
.body-cup-image {
    width: 50%;
    min-width: 477px;
}
.body-cup-image img {
    width: 100%;
    height: 100%;
    min-width: 477px;
}

.body-cup-text {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    margin: auto;
    width: 50%;
    min-width: 477px;
    height: 100%;
    min-height: 477px;
    font-size: 18px;
    text-align: center;
}
.body-cup-text a:hover {
    text-decoration: underline pink 10px;
    cursor: pointer;
}
.body-cup-text h1 {
    margin: 0 auto;
    font-family: 'Fraunces', serif;
    max-width: 80%;
}
.body-cup-text h3 {
    font-family: 'Fraunces', serif;
}
.body-cup-text p {
    margin: 0 auto;
    margin-top: 30px;
    font-family: 'Barlow', serif;
    max-width: 90%;
}

/* Graphic design - Photography row */
.body-cherry-orange {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    max-height: 100%;
    justify-content: center;
}
.body-graphic {
    display: flex;
    margin: auto;
    width: 50%;
    min-width: 477px;
    font-size: 18px;
    position: relative;
}
.body-graphic-image {
    width: 100%;
    min-width: 477px;
    overflow: hidden;
}
.body-graphic-image img {
    width: 100%;
    height: 100%;

    min-height: 477px;
}
.body-graphic-text {
    min-width: 75%;    
    max-width: 80%;
    height: 30%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -35%);
}
.body-graphic-text h2 {
    font-family: 'Fraunces', serif;
}


.body-photography {
    display: flex;
    margin: auto;
    width: 50%;
    min-width: 477px;
    font-size: 18px;
    position: relative;
}
.body-photography-image {
    width: 100%;
    min-width: 477px;
    overflow: hidden;
}
.body-photography-image img {
    width: 100%;
    height: 100%;
    min-width: 477px;
    min-height: 477px;
    overflow: hidden;
}
.body-photography-text {
    min-width: 75%;    
    max-width: 80%;
    height: 30%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -35%);
}
.body-photography-text h2 {
    font-family: 'Fraunces', serif;
}