.navbar-container {
    background-color: #3dbeff;
    color: white;
    display: flex;
    min-height: 75px;
    height: 10%;
    min-width: 477px;
}

.navbar-title {
    display: flex;
    flex-basis: 1;
    width: 10%;
    margin: auto 0;
}
.navbar-title p {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: auto auto auto 30px;
    font-family: 'barlow', serif;
    font-size: 25px;
}

.navbar-menu {
    display: flex;
    justify-content: space-evenly;
    width: 40%;
    margin: auto 0px 0px auto;
    flex-basis: 4;
}
.navbar-menu p {
    vertical-align: middle;
}
.navbar-menu a {
    border-radius: 30px;
    padding: 0px 20px;
    font-family: 'barlow', serif;
}
.navbar-menu a:hover {
    cursor: pointer;
    color: white;
    background-color: rgba(255, 255, 255, 0.2);
    font-family: 'Fraunces', serif;
    font-weight: 100;
}
